@* @model IEnumerable<MvcSoporteCF.Models.Aviso> *@
@model PagedList.IPagedList<MvcSoporteCF.Models.Aviso>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Avisos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
	@* Para buscar por nombre de empleado en la lista de valores *@
	@using (Html.BeginForm("Index","Avisos",FormMethod.Get))
	{
		<p>
			Tipo de Avería: @Html.DropDownList("strTipoAveria",
							(IEnumerable<SelectListItem>)ViewBag.ListaTipoAverias,
							ViewBag.FiltroActual as string)
			Nombre del empleado: @Html.TextBox("strCadenaBusqueda", ViewBag.BusquedaActual as string)
			<input type="submit" value="Buscar" />
		</p>
	}
</p>
<table class="table">
    <tr>
		<th>
			@* @Html.DisplayNameFor(model => model.Empleado.Nombre) *@
			Nombre del empleado
		</th>
		<th>
			@* @Html.DisplayNameFor(model => model.Equipo.CodigoEquipo) *@
			Equipo
		</th>
		<th>
			@* @Html.DisplayNameFor(model => model.TipoAveria.Descripcion) *@
			Tipo de avería
		</th>
		<th>
			@* @Html.DisplayNameFor(model => model.Descripcion) *@
			Descripción
		</th>
		<th>
			@* @Html.DisplayNameFor(model => model.FechaAviso) *@
			Fecha de aviso
		</th>
		<th>
			@* @Html.DisplayNameFor(model => model.FechaCierre) *@
			Fecha de cierre
		</th>
		<th>
			@* @Html.DisplayNameFor(model => model.Observaciones) *@
			Observaciones
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo.CodigoEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAveria.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAviso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCierre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
@* Se muestra el número de páginas y el total de páginas *@
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@* Se muestran los botones de paginación mediante el helper PagedListPager *@
@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, strBusquedaActual = ViewBag.BusquedaActual, strFiltroActual = ViewBag.FiltroActual }))
